html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #999;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
border-spacing: 0;}
 a	{text-decoration: none;}

@font-face 
		{font-family: Ubuntu-Light;
		src:  url(../fonts/Ubuntu-Light.ttf); 
		font-family: Ubuntu;
		src:  url(../fonts/Ubuntu.ttf);}
   

 .container
		{width: 1920px;
		height: auto;
		margin: 0 auto;}
.header_background
		{height: 80px;
		width: 100%;
		background-color: #fff;}
.logo_1	
		{float: left;
		height: 30px;
		width: 240px;
		margin: 25px 0 0 25px;}
.contact_us_button
		{float: right; 
		width:		200px;
		height:   	80px;
		background-color: #000;}
 .napisat_nam		
		{text-align: center;
		color: 		#fff;
		font: 	    16px Ubuntu-Light, sans-serif;
		font-weight: 400;
		padding-top: 	30px;}
.contact_us_button:hover 	
		{background-color: #fc0;
		border: 2px solid #000}
.fon_web_razr
		{width: 1920px;
		height: 800px;
		background-image: url(../img/fon.png);}
.web_raz
		{padding-top: 320px;
		text-align: center;
		padding-bottom: 45px;
		color: #fff;
		font: 60px Ubuntu, sans-serif;
		font-weight:500;
		text-transform: uppercase;}
.white_line
		{float: left;
		width: 33.3%;
		height: 2px;
		background-color: #fff;}
.transparent_line
		{float: left;
		width: 33.3%;
		height: 2px;
		background-color: transparent;}		
.web_diz
		{padding-top: 55px;
		text-align: center;
		color: #fff;
		font: 19px Ubuntu-Light, sans-serif;
		text-transform: uppercase;}
.fon_mob_raz_1
		{width: 960px;
		height: 400px;
		background-color: #fff;}
.mob_raz
		{padding-top: 160px;
		padding-bottom: 30px;
		text-align: center;
		color: #000;
		font: 30px Ubuntu, sans-serif;
		font-weight: 500;
		text-transform: uppercase;}
.black_line 
		{float: left;
		width: 33.3%;
		height: 2px;
		background-color: #000;}
.ios
		{margin: 0 0 0 0;
		padding-top: 45px;
		text-align: center;
		color: #000;
		font: 19px Ubuntu-Light, sans-serif;
		text-transform: uppercase;}
.fon_mob_raz_2
		{width: 960px;
		height: 400px;
		background-image: url(../img/mob2.png);}
.fon_mob_raz_3	
		{float: right;
		width: 960px;
		height: 800px;
		background-image: url(../img/mob3.png);}
#fon_post	
		{float: left;
		width: 960px;
		height: 800px;
		background-color: #f6f6f6;}
.nap_nam 
		{margin: 140px auto 0 auto;
		text-align: center;
		font: 30px Ubuntu, sans-serif;
		font-weight: 500;
		text-transform: uppercase;}
.form_post_1	
		{display:block;
		width: 600px;
		height: 50px;
		margin: 0 auto 18px auto;}
input.form_post_1:nth-child(1) 
		{margin-top: 40px;}
.form_post_2	{display:block;
		width: 600px;
		height: 150px;
		margin: 0 auto 18px auto;}
.post_button 
		{margin: 0 auto 0 auto;
		height: 60px;
		width: 220px;
		background-color: #000;}
.post_button:hover 	
		{background-color: #fc0;
		border: 2px solid #000}
.txt_post_button
		{padding-top: 22px;
		text-align: center;
		color: #fff;
		font: 16px Ubuntu-Light, sans-serif;
		font-weight: 400;}
.fon_sopr_serv	
		{float: left;
	    height: 400px;
		width: 960px;
		background-color: #ffcc00;}
.fon_cloud	
		{float: left;
		height: 400px;
		width: 480px;
		background-image: url(../img/cloud.png)}
.fon_adres	
		{float: left;
		height: 400px;
		width: 480px;
		background-color: #000}
.logo_2	
		{height: 20px;
		width: 201px;
		margin: 0 auto;
		padding-top: 60px;}
p.txt_adres
		{color:#fff;
		font: 15px Ubuntu-Light, sans-serif;
		text-align: center;
		padding-top: 100px;}
p.copyright 	
		{color:#fff;
		font: 13px Ubuntu-Light, sans-serif;
		text-align: center;
		margin-top:100px;
		white-space:pre;}


				

		
	

 
